{
    "commands": [
        {
            "command": "cd ~/Desktop/igvc-sim/; source yolovenv/bin/activate; source install/setup.bash; ros2 run object_detection object_data_node.py",
            "label": "obstacle_detection"
        },
        {
            "command": "cd ~/Desktop/igvc-sim/; source install/setup.bash; ros2 launch igvc spawn_robot.launch.py",
            "label": "launch_gazebo"
        },
        {
            "command": "cd ~/Desktop/igvc-sim/; source install/setup.bash; python3 src/navigation/navigation/lane_curvefitting.py",
            "label": "lane_curvefitting"
        },
        {
            "command": "cd ~/Desktop/igvc-sim/; source install/setup.bash; python3 src/costmap/costmap/costmap.py",
            "label": "costmap"
        },
        {
            "command": "ros2 launch laser_filters range_filter_example.launch.py",
            "label": "lidar_range_filter"
        },
        {
            "command": "ros2 launch laser_filters angular_filter_example.launch.py",
            "label": "lidar_angular_filter"
        },
        {
            "command": "ros2 launch lane_detection start.py",
            "label": "lane_detection"
        },
        {
            "command": "ros2 run lane_pothole_detection potholes",
            "label": "pothole_detection"
        },
        {
            "command": "ros2 launch sensor_fusion fusion.launch.py",
            "label": "nav2"
        },
        {
            "command": "ros2 run path_finder find_path",
            "label": "pathfinder"
        },
        {
            "command": "ros2 run demo_nodes_cpp talker",
            "label": "gps"
        },
        {
            "command": "ros2 run nav_commander go",
            "label": "go"
        }
    ],
    "defaults": [
        "launch_gazebo"
    ],
    "working_directory": "/home/"
}
